.layouts {
  display: flex;
  flex-direction: column;
  height: 100vh;

  :global {

    .footer {
      height: 60px;
      width: 100%;
      position: fixed;
      bottom: 0;
      background-color: #fff;

      .process {
        height: 3px;
        width: 100%;
      }

      .bar {
        height: 57px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 10px;

        .b-center {
          display: flex;
          width: 20%;
          justify-content: space-around;
          align-items: center;
        }
      }
    }
  }
}