.layouts {
  display: flex;
  flex-direction: column;
  height: 100vh;

  :global {
    .app-drag {
      // 可拖动
      position: relative;
      z-index: 9;
      -webkit-app-region: drag;
    }

    .header {
      height: 50px;
      opacity: 0.5;
      box-shadow: 0 1px 10px -4px rgba(0, 0, 0, 0.14);
      background-color: rgb(251, 249, 249);

      .h-left {
        width: 25%;
        line-height: 50px;
        padding-right: 2px;
      }

      .navigate {
        position: relative;
        z-index: 3;

        .anticon {
          display: inline-block;
          width: 40px;
          line-height: 40px;
          cursor: pointer;
        }
      }

      .h-right {
        width: 75%;
        padding-right: 10px;

        .search {
          width: 200px;
        }

        .setting {
          margin: 0 15px;
        }
      }
    }

    .middle {
      display: flex;
      flex-grow: 1;
      height: 0;

      .sider {
        height: 100%;
        width: 25%;
        overflow: auto;
        margin-bottom: 40px;
        border-right: 1px solid rgba(5, 5, 5, 0.06);

        .avator {
          margin: 8px;

          .a-content {
            display: flex;
            align-items: center;
            color: rgb(133, 131, 131);

            .word {
              margin: 0 5px;
            }

            .right-arrow {
              font-size: 12px;
              position: relative;
              top: 1px;
            }
          }
        }

        .ant-menu-root {
          border: 0;
        }
      }

      .content {
        width: 0;
        height: 100%;
        flex-grow: 1;
        overflow: auto;
      }
    }

    .footer {
      height: 60px;
      box-shadow: -1px 0 10px -4px rgba(0, 0, 0, 0.14);
    }
  }
}