.footer-controller {
  position: relative;

  :global {
    .bar-left {
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      font-size: 12px;
      width: 37%;
    }

    .song-author {
      opacity: .7;
    }

    .song-lyric {}

    .song-img {
      width: 40px;
      height: 40px;
      overflow: hidden;
      border-radius: 40px;
      box-shadow: 0 0 10px -4px rgba(51, 51, 51, 0.77);

      img {
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }
  }
}

.controller-play {
  width: 220px;
  font-size: 22px;

  :global {
    .play-pause {
      font-size: 37px;
    }
  }
}

.controller-panel {
  background-image: linear-gradient(rgba(0, 0, 0, 1) 77%, rgba(58, 20, 62, 1));
  color: #efefef;

  :global {
    .panel-header {}

    .panel-close {
      position: relative;
      z-index: 1;
    }

    .panel-main {
      height: 0;
      flex-grow: 1;
    }

    .panel-left {
      width: 40%;
    }

    .panel-right {
      width: 0;
      flex-grow: 1;
    }

    .panel-song-info {}

    .panel-lyric {
      height: 0;
      flex-grow: 1;
      overflow-x: hidden;
      overflow-y: auto;

      .lyric-line {
        .line-text {
          display: inline-block;
          font-size: 17px;
          line-height: 2.7;
          opacity: .47;
          transition: 999ms;
          transform-origin: left;
        }

        &.active {
          .line-text {
            opacity: 1;
            transform: scale(1.5);
          }
        }
      }
    }

    .panel-img {
      width: 240px;
      height: 240px;
      overflow: hidden;
      border-radius: 240px;
      box-shadow: 0 0 10px -4px rgba(51, 51, 51, 0.77);

      img {
        height: 100%;
        object-fit: contain;
        object-position: center;
      }
    }

    .panel-footer {
      position: relative;
      height: 60px;
    }
  }
}

.controller-process {
  :global {
    .process-bar {
      transition: 400ms;
    }
  }
}

// -------------------

.process-box {
  position: absolute;
  height: 2px;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #efefef;
}