.song-list-table {
  :global {
    .ant-table-row.active-playing {
      background-color: var(--primary-color-01);
      color: var(--primary-color);

      .song-play-icon {
        color: var(--primary-color);
      }

      td {
        border-color: transparent;
      }
    }

    tr {
      color: #666;
      font-size: 12px;
    }

    .song-play-cell {
      padding: 0 8px !important;
    }

    .song-play-icon {
      font-size: 18px;
      cursor: pointer;
      color: #999;
      transition: 150ms;

      &:hover {
        color: inherit;
      }
    }

    .song-portrait {
      height: 24px;

      img {
        height: 100%;
        object-fit: contain;
        object-position: center;
        border-radius: 12px;
        box-shadow: 0 0 10px -4px rgba(51, 51, 51, 0.77);
      }
    }
  }
}